# Dependencies
node_modules/
release

# Build output
dist/
dist-electron/

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Electron
out/
*.tsbuildinfo
